.form-adresse {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-adresse h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-adresse input {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width:467px ;
}

.form-adresse button {
  padding: 12px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.form-adresse button:hover {
  background-color: #222;
}
.error {
  color: red;
  font-size: 14px;
  margin: 4px 0 10px 5px;
}
.form-adresse-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
}
